<div class="container">
    <div class="row">
      <div class="col m4">
        <div class="contInfoFooter effect">
          <h5 class="titleFooter">Contact</h5>
          <ul class="ulContact">
            <li><i class="fa fa-map-marker" aria-hidden="true"></i> Pontificia Universidad Javeriana.<br> Carrera 7 No. 40 - 62, Bogotá</li>
            <li><i class="fa fa-phone" aria-hidden="true"></i> 555 55 55</li>
            <li><i class="fa fa-envelope-o" aria-hidden="true"></i> latinity@latinity.co</li>
          </ul>
          <div class="contLogo">
            <img class="imgFooter" src="http://everbrander.co/latinity/assets/img/logoLatinityWhite.png" alt="Latinity">
          </div>
        </div>
      </div>
      <div class="col m4">
        <div class="contInfoFooter effect">
          <h5 class="titleFooter">Menu</h5>
          <div class="contMenuFooter">
            <ul class="menuFooter">
              <li><a href="http://everbrander.co/latinity/aboutus">About us</a></li>
              <li><a href="http://everbrander.co/latinity/#schedule">Schedule</a></li>
              <li><a href="http://everbrander.co/latinity/#contsponsors">Sponsors</a></li>
              <li><a href="http://everbrander.co/latinity/contact-us">Contact Us</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col m4">
        <div class="contInfoFooter effect">
          <h5 class="titleFooter">Lets stay in touch</h5>
          <form class="formSuscribe" method="post">
            <input class="inputEmail" type="text" name="email" placeholder="Join our mailing list">
            <input class="inputBtn" type="submit" name="suscribe" value="Suscribe">
          </form>
          <h5 class="titleFooter" style="margin-top:29px;">Follow us</h5>
          <div class="contRedesFooter">
            <div class="contIcon">
              <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </div>
            <div class="contIcon">
              <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            </div>
            <div class="contIcon">
              <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row rowCopyright">
    <div class="col m12">
      <p>© 2017 Latinity | Website by <a href="http://eversocial.co/" target="_blank" style="color:#EC0B43;">EVERSOCIAL</a></p>
    </div>
  </div>
