<div class="containerMenu">
  <div class="row">
    <a href="#" data-activates="slide-out" class="button-collapse btnMenu"><i class="fa fa-bars" aria-hidden="true"></i></a>

    <div id="slide-out" class="side-nav">
      <ul class="listMenu">
        <li><a class="aLogo" href="http://everbrander.co/latinity/"><img class="logoMenu" src="http://everbrander.co/latinity/assets/img/logoLatinityWhite.png" alt=""></a></li>
        <li><a href="http://everbrander.co/latinity/aboutus">About us</a></li>
        <li><a href="http://everbrander.co/latinity/gallery">Gallery</a></li>
        <li><a href="http://everbrander.co/latinity/#schedule">Schedule</a></li>
        <li><a href="http://everbrander.co/latinity/#contsponsors">Sponsors</a></li>
        <li><a href="http://everbrander.co/latinity/news">News</a></li>
        <li><a href="http://everbrander.co/latinity/contact-us">Contact Us</a></li>
        <div class="contRedesMenu">
          <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </div>
      </ul>
      <div id="bgspaceMenu"></div>
    </div>
    <div class="contRedes">
      <div class="contIcon">
        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      </div>
      <div class="contIcon">
        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      </div>
      <div class="contIcon">
        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</div>
